@{
    ViewData["Title"] = "Xoa Database";
}

<h1>@ViewData["Title"]</h1>
<p class="alert alert-danger">
    Bạn có chắc chắn muốn xóa Database
</p>

<form action="" method="post">
    <button type="submit" class="btn btn-group">Xoa Db</button>
    <hr>
    <a asp-action="Index">Quan Ly Db</a>
</form> 